<html>
    <header>
        <title>
            DnD Character Generator.
        </title>
    </header>
    <body>
        <h1>
            Character Generator 
        </h1>
        <p>
            Charecter Race: {{ race }}
        </p>
        <p>
            Charecter Class: {{ class }}
        </p>    
        <p>
            Charecter Blessing: {{ blessing }}
        </p>    
        <p>
            Charecter Stats: {{ stats }}
        </p>   
        <p>
            Charecter Points: {{ points }} 
        </p>
    </body>
</html>